backend/target/
frontend/node_modules/
frontend/dist/
frontend/.vite/
infra/.env

*.class
*.jar
*.war
*.log

.DS_Store

.idea/
**/.idea/
.vscode/
*.iml
*.ipr
*.iws

.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache

build/
out/

