POSTGRES_DB=taskmanager
POSTGRES_USER=taskmanager
POSTGRES_PASSWORD=taskmanager
FRONTEND_PORT=3000
SERVER_PORT=8080
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/taskmanager
SPRING_DATASOURCE_USERNAME=taskmanager
SPRING_DATASOURCE_PASSWORD=taskmanager
SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:29092
